html {
}

body {
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
}

#root {
  height: 200vh;
  overflow: hidden;
  opacity: 0.5;
}

#log {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.interactionSurface {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
