:root,
html,
body {
  -ms-overflow-style: none;
}

body {
  width: 10000vw;
  height: 10000vh;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
}

#root {
  user-select: none;
}

#log {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  padding: 0.5rem;
  line-height: 0.75rem;
  font-size: 0.618rem;
}

#interaction {
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 3rem;
}

#wheel,
#throttle {
  position: absolute;
  width: 61.8vmin;
}

#wheel {
  left: 50vw;
  bottom: 0;
  transform: translateX(-50%);
}

#throttle {
  top: 50vh;
  left: 100vw;
  transform: translateX(-50%) rotate(-90deg);
  transform-origin: center bottom;
}

strong {
  font-weight: bold;
}

/* Scrollbars */

::-moz-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

::-moz-scrollbar-track {
  background: none;
  color: none;
  box-shadow: none;
}

::-moz-scrollbar-thumb {
  background: none;
  color: none;
  box-shadow: none;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: none;
  color: none;
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background: none;
  color: none;
  box-shadow: none;
}

::scrollbar {
  display: none;
  width: 0;
  height: 0;
}

::scrollbar-track {
  background: none;
  color: none;
  box-shadow: none;
}

::scrollbar-thumb {
  background: none;
  color: none;
  box-shadow: none;
}
