:root,
html,
body {
  height: 500vh;
}

body {
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
}

#root {
  user-select: none;
}

#log {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  padding: 0.5rem;
  line-height: 0.75rem;
  font-size: 0.618rem;
}

#interaction {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#wheel,
#throttle {
  pointer-events: none;
  position: absolute;
  left: 50%;
  bottom: 3.5rem;
  width: 5rem;
  color: red;
  transform: translateX(-50%);
}

#throttle {
  transform: translateX(-50%) rotate(-90deg);
}

.movementButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.333%;
  height: 100%;
  color: transparent;
  outline: none;
}

.movementButton.right {
  left: auto;
  right: 0;
}

.movementButton.forward {
  left: 33.333%;
  height: 50%;
}

.movementButton.backward {
  left: 33.333%;
  height: 50%;
  top: 50%;
}

strong {
  font-weight: bold;
}
