body {
  min-height: 200vh;
}

.world {
  --unit: 1vmin;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.positioner {
  --x: 0;
  --y: 0;
  --scale: 1;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(
      calc(var(--x) * var(--unit)),
      calc(var(--y) * var(--unit)),
      0
    )
    translate(-50%, -50%) scale(var(--scale));
}
