html,
body {
}

#root {
  overflow: hidden;
  height: 300vh;
}

#log {
  pointer-events: none;
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  z-index: 9999;
}

@supports (top: max(1px, env(safe-area-inset-top))) {
  #log {
    top: max(0.5rem, env(safe-area-inset-top));
    right: max(0.5rem, env(safe-area-inset-right));
    left: max(0.5rem, env(safe-area-inset-left));
  }
}

.world {
  --unit: 1vmin;
  position: fixed;
  left: 50vw;
  top: 50vh;
  perspective: none;
}

.position {
  --x: 0;
  --y: 0;
  --scale: 1;
  --angle: 0;
}

.positioner {
  will-change: transform;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(var(--scale))
    translate3d(
      calc(var(--x) * var(--unit)),
      calc(var(--y) * var(--unit)),
      calc(1073741823px + var(--y) * 1px)
    )
    rotate(var(--angle));
}

#playerEntity {
  color: red;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(var(--scale)) rotate(var(--angle));
}
