html,
body {
  /* overflow: hidden; */
}

.world {
  --unit: 1vmin;
  width: 500vw;
  height: 500vh;
  position: relative;
  overflow: hidden;
}

.positioner {
  --x: 0;
  --y: 0;
  --scale: 1;

  will-change: transform;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(var(--scale))
    translate3d(
      calc(var(--x) * var(--unit)),
      calc(var(--y) * var(--unit)),
      calc(1073741823px + var(--y) * 1px)
    );
}

#playerEntity {
  color: red;
}
